index
<%= link_to "オーナー一覧", ooyas_path, class: 'btn btn-primary'  %>

<%= link_to "物件一覧", buildings_path, class: 'btn btn-primary'  %>
index

<%# ↓これを追記↓ %>
<div data-controller="hello">
  <input data-target="hello.name" type="text">
  <button data-action="click->hello#greet">Greet</button>
</div>
 <%# ↑これを追記↑ %>
